CompileFlags:
  Add:
    - "-DSDL3"
    - "-DENGINE"
    - "-DDEBUG"
    - "-DWEB_BUILD"
    - "-DNOMINMAX"
    - "-ferror-limit=0"
    - "-std=c++20"

    - "-Ithird_party"
    - "-Ithird_party/include"
    - "-Iassets/shaders"

    - "-Wno-writable-strings"
    - "-Wno-sign-compare"
    - "-Wno-deprecated-declarations"
    - "-Wno-format-security"
    - "-Wno-switch"
    - "-Wno-c99-designator"
